/** @format */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: Helvetica, "游ゴシック", "Yu Gothic", YuGothic, HiraKakuProN-W3,
    "メイリオ", Meiryo, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.9;
  text-align: left;
  -webkit-text-size-adjust: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.ttl {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 44px;
  margin: 0 0 10px;
}
.sttl {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  margin: 0 0 10px;
}
.txt {
  margin: 0 0 10px;
}
.body__box {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 20px;
}
.Home__box {
  margin: 0 0 40px;
}
.Home__img {
  max-width: 140px;
  margin-right: 20px;
  img {
    object-fit: cover;
    border-radius: 50%;
  }
}
.no_page {
  padding: 140px 0;
  text-align: center;
}
.header__btn {
  margin: 0 20px 0 auto;
}
.Blog__box {
  border-bottom: 1px solid #eee;
  padding: 20px 0;
  &:last-child {
    border: none;
  }
  .Blog__link {
    display: flex;
  }
  .Blog__data {
    margin: 0 10px 0 0;
  }
}

.nav {
  padding: 10px 20px;
  .nav__body {
    display: flex;
    .nav__body_list {
      display: flex;
      flex-wrap: wrap;
    }
    .nav__body_btn {
      display: flex;
      margin: 0 0 0 auto;
    }
  }
}

.footer {
  border-top: 1px solid #eee;
  padding: 20px 10px;
  .footer__sns {
    display: flex;
    justify-content: center;
    // align-items: center;
    margin: 0 0 10px;
  }
}
